<div class="panel">
  <h3>{{ 'Member.CareerPanel.Title' | translate }}</h3>
  <ng-container *ngIf="stats; else pageCharging">
    <table class="table">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">{{ 'Member.CareerPanel.Table.Category' | translate }}</th>
        <th class="text-center" scope="col">{{ 'Member.CareerPanel.Table.Starts' | translate }}</th>
        <th class="text-center" scope="col">{{ 'Member.CareerPanel.Table.Wins' | translate }}</th>
        <th class="text-center" scope="col">{{ 'Member.CareerPanel.Table.Top5' | translate }}</th>
        <th class="text-center" scope="col">{{ 'Member.CareerPanel.Table.Poles' | translate }}</th>
        <th class="text-center" scope="col">{{ 'Member.CareerPanel.Table.AverageStart' | translate }}</th>
        <th class="text-center" scope="col">{{ 'Member.CareerPanel.Table.AverageFinish' | translate }}</th>
        <th class="text-center" scope="col">{{ 'Member.CareerPanel.Table.AverageIncidents' | translate }}</th>
        <th class="text-center" scope="col">{{ 'Member.CareerPanel.Table.WinPercentage' | translate }}</th>
        <th class="text-center" scope="col">{{ 'Member.CareerPanel.Table.Top5Percentage' | translate }}</th>
        <th class="text-center" scope="col">{{ 'Member.CareerPanel.Table.PolePercentage' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let stat of stats">
        <tr>
          <th class="text-center" scope="row">
            <isard-icon
              [width]="30"
              [height]="30"
              [path]="getIcon(stat.category_id)"
            >
            </isard-icon>
          </th>
          <td>{{ stat.category }}</td>
          <td class="text-center">{{ stat.starts }}</td>
          <td class="text-center">{{ stat.wins }}</td>
          <td class="text-center">{{ stat.top5 }}</td>
          <td class="text-center">{{ stat.poles }}</td>
          <td class="text-center">{{ stat.avg_start_position }}</td>
          <td class="text-center">{{ stat.avg_finish_position }}</td>
          <td class="text-center">{{ stat.avg_incidents }}</td>
          <td class="text-center">{{ stat.win_percentage }}%</td>
          <td class="text-center">{{ stat.top5_percentage }}%</td>
          <td class="text-center">{{ stat.poles_percentage }}%</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-container>
</div>
<ng-template #pageCharging>
  <isard-loading-screen></isard-loading-screen>
</ng-template>
