<ng-container *ngIf="!isCharging; else pageCharging">
  <ng-container *ngIf="member; else memberNoExist">
    <div class="fullscreen">
      <div class="side-panel">
        <div class="driver-info">
          <div class="driver-name">{{ member.display_name }}</div>
          <div *ngIf="member.club_name" class="country-info">
            <span>{{ member.club_name }}</span>
          </div>
          <div class="last-login">
            Last login: {{ member.last_login | date:'short' }}
          </div>
        </div>

        <div *ngIf="member.licenses" class="licenses">
          <div *ngFor="let license of member.licenses" class="license-item">
            <isard-licence-tile [licence]="license"></isard-licence-tile>
          </div>
        </div>
      </div>

      <div class="center-panel">
        <ng-container #centerPanel></ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #memberNoExist>
  <div class="center-screen">
    <h3>No drivers found.</h3>
    <p>Please check the ID you entered.</p>
  </div>
</ng-template>

<ng-template #pageCharging>
  <div class="center-screen">
    <h3>Loading...</h3>
  </div>
</ng-template>
