<ng-container *ngIf="!isCharging; else pageCharging">
  <ng-container *ngIf="member; else memberNoExist">
    <div class="fullscreen">
      <div class="side-panel">
        <p>{{ member.cust_id }}</p>
        <p>{{ member.display_name }}</p>
        <div aria-label="Basic example" class="btn-group" role="group">
          <button class="btn btn-primary" type="button">Left</button>
          <button class="btn btn-primary" type="button">Middle</button>
          <button class="btn btn-primary" type="button">Right</button>
        </div>
      </div>
      <div class="center-pannel">
        <h2> coucou</h2>
        <ng-container #centerPannel></ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #memberNoExist>
  <div class="center-screen">
    <h3> No drivers found.</h3>
    <p> Please check the ID you entered. </p>
  </div>
</ng-template>

<ng-template #pageCharging>
  <h3 class="center-screen">Chargement en cours ...</h3>
</ng-template>
