<ng-container *ngIf="!isCharging; else pageCharging">
  <ng-container *ngIf="member; else memberNoExist">
    <div class="fullscreen">
      <div class="side">
        <isard-member-info-panel [member]="member"></isard-member-info-panel>
      </div>
      <div class="center">
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #memberNoExist>
  <div class="center-screen">
    <h3>No drivers found.</h3>
    <p>Please check the ID you entered.</p>
  </div>
</ng-template>

<ng-template #pageCharging>
  <div class="center-screen">
    <h3>Loading...</h3>
  </div>
</ng-template>
