<isard-box>
    <h3>{{ 'Member.AllRacesPanel.Title' | translate }}</h3>
    <isard-divider/>
    <isard-member-all-races-parameters (research)="findRaces($event)"/>
    @if (loadingSeries || series) {
        <isard-divider/>
        @if (!loadingSeries) {
            @if (series && filteredSeries && filteredSeries.length > 0) {
                <isard-member-all-races-filter [series]="series" (filter)="onFilter($event)"/>
                <isard-divider/>
                <isard-member-all-races-results [series]="filteredSeries"/>
            } @else {
                <h3 class="text-center"> {{ "Member.Errors.NoRaceFound" | translate }}</h3>
            }
        } @else {
            <isard-loading-screen/>
        }
    }
</isard-box>
