@import "../../styles/variables.scss";

.background-image {
  background-image: url('https://ir-core-sites.iracing.com/members/member_images/cars/carid_196/shot_ss_5_screen_full.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  filter: brightness(0.4);
  z-index: -99;
}

.isard-home {
  .home-title {
    display: flex;
    flex-direction: column;
    margin: 10%;

    h1, h2 {
      color: $white;
      font-style: normal;
      font-weight: 900;
      font-family: 'Lato', sans-serif;
    }
  }
}
