@import "../../styles/variables.scss";

.navbar {
  z-index: 5;
  background-color: $ir-blue-alt !important;

  .navbar-logo {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row !important;
    margin: -8px 12px -8px -12px !important;
  }

  .navbar-toggler {
    background-color: $white !important;
  }

  .nav-link, .navbar-brand {
    cursor: pointer;
    color: $white !important;
  }
}
