<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="navbar-logo">
      <img alt="Logo d'Iracing" ngSrc="./assets/iracing/iRacing-Icon-Color-White.svg" height="72" width="{{72 * 486 / 372}}">
    </div>
    <a (click)="redirectTo([''])" class="navbar-brand">ISARD</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a (click)="redirectTo([''])" class="nav-link">Home</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a (click)="redirectTo(['about'])" class="nav-link">About</a>-->
<!--        </li>-->
        <!--        <li class="nav-item dropdown">-->
        <!--          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
        <!--            Dropdown-->
        <!--          </a>-->
        <!--          <ul class="dropdown-menu">-->
        <!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
        <!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
        <!--            <li>-->
        <!--              <hr class="dropdown-divider">-->
        <!--            </li>-->
        <!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
        <!--          </ul>-->
        <!--        </li>-->
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <isard-picklist

          >
          </isard-picklist>
        </li>
      </ul>
    </div>
  </div>
</nav>
