<div [ngClass]="licence.group_name.toLowerCase().replace(' ','')" class="licence-tile">
  <isard-icon
    [width]="24"
    [height]="24"
    [path]="getLicenceIcon()"
    [color]="getLicenceColor()"
    [ngClass]="licence.category.toLowerCase().replace(' ','')"
  ></isard-icon>
  <span class="group-name">{{ licence.group_name }}</span>
  <span *ngIf="licence.safety_rating"
        class="safety-rating">{{ 'Components.LicenceTile.SafetyRating' | translate }} :{{ licence.safety_rating.toFixed(2) }}</span>
  <span *ngIf="licence.irating"
        class="irating">{{ 'Components.LicenceTile.Irating' | translate }} :{{ licence.irating }}</span>
</div>
