<div [ngClass]="licence.group_name.toLowerCase().replace(' ','')" class="licence-tile">
  <svg class="svg-icon" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    [ngClass]="licence.category.toLowerCase().replace(' ','')">
    <path [attr.d]="mapPath[licence.category]"
          [attr.fill]="mapColor[licence.group_name.toLowerCase().replace(' ','')]"
          clip-rule="evenodd"
          fill-rule="evenodd"
    ></path>
  </svg>
  <span class="group-name">{{ licence.group_name }}</span>
  <span class="safety-rating" *ngIf="licence.safety_rating">SR: {{ licence.safety_rating.toFixed(2) }}</span>
  <span class="irating" *ngIf="licence.irating">IR: {{ licence.irating }}</span>
</div>
