@import "../../styles/variables";

.notification {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 3;
  text-align: center;
  color: $black;
  transition: top 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s;
  top: -100px; // Hidden above the navbar
  opacity: 0;

  &.show {
    top: 70px;
    opacity: 1;
  }

  &.success {
    background-color: $success;
  }

  &.error {
    background-color: $danger;
  }

  &.warning {
    background-color: $warning;
  }
}
