<div class="language center">
    <button
        type="button"
        (click)="setLanguage('fr')"
        [attr.aria-label]="'French'"
        class="flag-btn"
    >
        <img
            alt="fr"
            height="16"
            ngSrc="assets/translations/fr-flag.svg"
            width="24"
        />
    </button>
    /
    <button
        type="button"
        (click)="setLanguage('en')"
        [attr.aria-label]="'English'"
        class="flag-btn"
    >
        <img
            alt="en"
            height="16"
            ngSrc="assets/translations/en-flag.svg"
            width="24"
        />
    </button>
</div>