<ng-container *ngIf="!isCharging; else pageCharging">
  <ng-container *ngIf="member; else memberNoExist">
    <div class="fullscreen">
      <div class="side">
        <isard-member-info-panel [member]="member"></isard-member-info-panel>
        <isard-member-parameter-panel
          (parameters)="setDisplay($event)"
          [currentScreenDisplay]="currentScreenDisplay">
        </isard-member-parameter-panel>

      </div>
      <div class="center">
        <isard-member-last-races
          *ngIf="currentScreenDisplay === MemberScreenDisplay.LastRaces"
          [races]="centerPanelRequest.lastRaces">
        </isard-member-last-races>

        <isard-member-stats-career
          *ngIf="currentScreenDisplay === MemberScreenDisplay.CareerStats"
          [stats]="centerPanelRequest.careerStats">
        </isard-member-stats-career>

        <isard-member-stats-yearly
          *ngIf="currentScreenDisplay === MemberScreenDisplay.YearlyStats"
          [stats]="centerPanelRequest.yearlyStats">
        </isard-member-stats-yearly>

        <isard-member-all-races
          *ngIf="currentScreenDisplay === MemberScreenDisplay.AllRaces"
          [races]="centerPanelRequest.allRaces"
        >

        </isard-member-all-races>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #memberNoExist>
  <div class="center-screen">
    <h3>{{ 'Member.Errors.NoDriver' | translate }}</h3>
    <p>{{ 'Member.Errors.CheckId' | translate }}</p>
  </div>
</ng-template>

<ng-template #pageCharging>
  <isard-loading-screen></isard-loading-screen>
</ng-template>
