@if (isCharging) {
    <isard-loading-screen></isard-loading-screen>
} @else {
    @if (member) {
        <div class="fullscreen">
            <div class="side">
                <isard-member-info-panel [member]="member"></isard-member-info-panel>
                <isard-member-parameter-panel
                        (parameters)="setDisplay($event)"
                        [currentScreenDisplay]="currentScreenDisplay">
                </isard-member-parameter-panel>

            </div>
            <div class="center">
                <isard-member-center-panel
                        [member]="member"
                        [parameters]="getParameters()"
                >
                </isard-member-center-panel>
            </div>
        </div>
    } @else {
        <div class="center-screen">
            <h3>{{ 'Member.Errors.NoDriver' | translate }}</h3>
            <p>{{ 'Member.Errors.CheckId' | translate }}</p>
        </div>
    }
}
