<isard-box>
  <div class="btn-group">
    <button
      (click)="changeDisplay(MemberScreenDisplay.LastRaces)"
      [class.active]="currentScreenDisplay === MemberScreenDisplay.LastRaces"
      class="btn btn-primary"
      type="button">
      {{ 'Member.ParameterPanel.LastRaces' | translate }}
    </button>
    <button
      (click)="changeDisplay(MemberScreenDisplay.CareerStats)"
      [class.active]="currentScreenDisplay === MemberScreenDisplay.CareerStats"
      class="btn btn-primary"
      type="button">
      {{ 'Member.ParameterPanel.CareerStats' | translate }}
    </button>
    <button
      (click)="changeDisplay(MemberScreenDisplay.YearlyStats)"
      [class.active]="currentScreenDisplay === MemberScreenDisplay.YearlyStats"
      class="btn btn-primary"
      type="button">
      {{ 'Member.ParameterPanel.YearlyStats' | translate }}
    </button>
  </div>
</isard-box>
