<div class="panel">
  <div class="btn-group">
    <button
      (click)="changeDisplay(MemberScreenDisplay.LastRaces)"
      [class.active]="currentScreenDisplay === MemberScreenDisplay.LastRaces"
      class="btn btn-primary"
      type="button">
      Last Races
    </button>
    <button
      (click)="changeDisplay(MemberScreenDisplay.GlobalStats)"
      [class.active]="currentScreenDisplay === MemberScreenDisplay.GlobalStats"
      class="btn btn-primary"
      type="button">
      Global Stats
    </button>
    <button
      (click)="changeDisplay(MemberScreenDisplay.YearlyStats)"
      [class.active]="currentScreenDisplay === MemberScreenDisplay.YearlyStats"
      class="btn btn-primary"
      type="button">
      Yearly Stats
    </button>
  </div>
</div>
