@use "../../../../styles/variables" as *;

.driver-info {
  margin-bottom: 20px;
  text-align: center;

  .driver-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    word-wrap: break-word;
  }

  .country-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 10px 0;

    img {
      width: 24px;
      height: 16px;
      border-radius: 2px;
    }
  }

  .last-login {
    color: $gray-640;
    font-size: 0.9rem;
  }
}

.licenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .license-item {
    border-radius: 6px;
    background-color: $offwhite;
    min-width: 270px;
    max-width: 270px;
  }
}
