<isard-box>
    <div class="driver-info">
        <div class="driver-name">
            <span>{{ member.display_name }}</span>
        </div>
        @if (member.flair_id) {
            <div class="flair-info">
                <isard-flag [flairId]="member.flair_id"/>
                <span>{{ member.flair_name }}</span>
            </div>
        }
        <div class="last-login">
            {{ 'Member.InfoPanel.LastConnection' | translate }} : {{ member.last_login | localizedDate:'short' }}
        </div>
    </div>

    @if (member.licenses) {
        <div class="licenses">
            @for (license of member.licenses; track license.category_id) {
                <div class="license-item">
                    <isard-licence-tile [licence]="license"/>
                </div>
            }
        </div>
    }
</isard-box>
