<isard-box>
    <div class="driver-info">
        <div class="driver-name">{{ member.display_name }}</div>
        @if (member.club_name) {
            <div class="country-info">
                <span>{{ member.club_name }}</span>
            </div>
        }
        <div class="last-login">
            {{ 'Member.InfoPanel.LastConnection' | translate }} : {{ member.last_login | localizedDate:'short' }}
        </div>
    </div>

    @if (member.licenses) {
        <div class="licenses">
            @for (license of member.licenses; track license.category_id) {
                <div class="license-item">
                    <isard-licence-tile [licence]="license"/>
                </div>
            }
        </div>
    }
</isard-box>
