@import "../../../../styles/variables";

.panel {
  padding: 20px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .table {
    @media (max-width: 1200px) {
      width: 100%;
      overflow-x: scroll;
      display:block;
    }
  }
}
