<table class="table">
    @if (header) {
        <thead>
        <tr>
            @for (head of header; track head) {
                <th [ngClass]="{'text-center': head.isCenter}" scope="col">{{ head.value }}</th>
            }
        </tr>
        </thead>
    }
    @if (rows) {
        <tbody>
            @for (row of rows; track row) {
                <tr>
                    @for (box of row; track box) {
                        @switch (box.type) {
                            @case (TableCellType.TEXT) {
                                <td [ngClass]="{
                                'positive': box.isPositive,
                                'negative': box.isNegative,
                                'text-center': box.isCenter
                            }">
                                    {{ box.value }}
                                </td>
                            }
                            @case (TableCellType.DATE) {
                                <td [ngClass]="{
                                'positive': box.isPositive,
                                'negative': box.isNegative,
                                'text-center': box.isCenter
                            }">
                                    {{ getValueAsDate(box.value) | localizedDate: box.dateFormat }}
                                </td>
                            }
                            @case (TableCellType.BUTTON) {
                                <td [ngClass]="{'text-center': box.isCenter}">
                                    <button (click)="box.onClick"
                                            class="btn btn-secondary"
                                            type="button"
                                    >
                                        {{ box.value }}
                                    </button>
                                </td>
                            }
                            @case (TableCellType.ICON) {
                                <td [ngClass]="{'text-center': box.isCenter}">
                                    <isard-icon
                                            [height]="30"
                                            [path]="box.value.toString()"
                                            [width]="30"
                                    />
                                </td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    }
</table>
