@use "../../../styles/variables" as *;

.table {
  tr td:first-child {
    font-weight: bold;
  }

  td.positive {
    color: $green-2;
  }

  td.negative {
    color: $red;
  }

  @media (width <= 1650px) {
    width: 100%;
    overflow-x: scroll;
    display: block;
  }
}
