<table class="table">
    @if (header) {
        <thead>
        <tr>
            @for (head of header; track head; let i = $index) {
                @if (head.sortable) {
                    <th class="sortable-header" [ngClass]="head.classes" scope="col" (click)="sortColumn(i)">
                        <span class="box-sort">
                            {{ head.value }}
                            <span class="sorting">
                                <div class="up-triangle" [ngClass]="{
                                'hide': sortedColumn === i && !sortAsc,
                                'fade': sortedColumn !== i
                                }">
                                </div>
                                <div class="down-triangle" [ngClass]="{
                                'hide': sortedColumn === i && sortAsc,
                                'fade': sortedColumn !== i
                                }">
                                </div>
                          </span>
                        </span>
                    </th>
                } @else {
                    <th [ngClass]="head.classes" scope="col">
                        <span>
                            {{ head.value }}
                        </span>
                    </th>
                }
            }
        </tr>
        </thead>
    }
    @if (rows) {
        <tbody>
            @for (row of rows; track row) {
                <tr>
                    @for (box of row; track box) {
                        @switch (box.type) {
                            @case (TableCellType.TEXT) {
                                <td [ngClass]="box.classes">
                                    <span>
                                        {{ box.value }}
                                    </span>
                                </td>
                            }
                            @case (TableCellType.DATE) {
                                <td [ngClass]="box.classes">
                                    <span>
                                        {{ getValueAsDate(box.value) | localizedDate: box.dateFormat }}
                                    </span>
                                </td>
                            }
                            @case (TableCellType.BUTTON) {
                                <td [ngClass]="box.classes">
                                    <button (click)="box.onClick && box.onClick($event)"
                                            class="btn btn-secondary"
                                            type="button"
                                    >
                                        <span>{{ box.value }}</span>
                                    </button>
                                </td>
                            }
                            @case (TableCellType.ICON) {
                                <td [ngClass]="box.classes">
                                    <isard-icon
                                            [height]="30"
                                            [path]="box.value.toString()"
                                            [width]="30"
                                    />
                                </td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    }
</table>
