@switch (parameters.screen) {
    @case (MemberScreenDisplay.LastRaces) {
        <isard-member-last-races
                [races]="centerPanelRequest.lastRaces">
        </isard-member-last-races>
    }
    @case (MemberScreenDisplay.CareerStats) {
        <isard-member-stats-career
                [stats]="centerPanelRequest.careerStats">
        </isard-member-stats-career>
    }
    @case (MemberScreenDisplay.YearlyStats) {
        <isard-member-stats-yearly
                [stats]="centerPanelRequest.yearlyStats">
        </isard-member-stats-yearly>
    }
    @case (MemberScreenDisplay.AllRaces) {
        <isard-member-all-races
                [races]="centerPanelRequest.allRaces">
        </isard-member-all-races>
    }
}
