@import "../../styles/variables.scss";

.research-input {
  padding: 5px;
  border-radius: 5px;
  background-color: $ir-blue-alt;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 360px;

  .research-button {
    height: 47px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 5px;
    border: solid 1px $ir-blue-alt;
    cursor: pointer;

    .research-arrow {
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 25px solid $ir-blue-alt;
    }
  }
}
