@use "./app/styles/variables" as *;
@use "../node_modules/flag-icons/sass/flag-icons";
@use "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  font-family: Arial, sans-serif;
  margin: -10px 0 0;
  background-color: $offwhite;
}
