<isard-box>
    <div class="btn-group">
        <button
                (click)="changeScreen(MemberScreenDisplay.LastRaces)"
                [class.active]="currentScreenDisplay === MemberScreenDisplay.LastRaces"
                class="btn btn-primary"
                type="button">
            {{ 'Member.ParameterPanel.LastRaces' | translate }}
        </button>
        <button
                (click)="changeScreen(MemberScreenDisplay.CareerStats)"
                [class.active]="currentScreenDisplay === MemberScreenDisplay.CareerStats"
                class="btn btn-primary"
                type="button">
            {{ 'Member.ParameterPanel.CareerStats' | translate }}
        </button>
        <button
                (click)="changeScreen(MemberScreenDisplay.AllRaces)"
                [class.active]="currentScreenDisplay === MemberScreenDisplay.AllRaces"
                class="btn btn-primary"
                type="button">
            {{ 'Member.ParameterPanel.AllRaces.Title' | translate }}
        </button>
    </div>
    <ng-container *ngIf="currentScreenDisplay === MemberScreenDisplay.AllRaces">
        <div class="all-races-parameters">
            <isard-item-picklist
                    [label]="translateService.instant('Member.ParameterPanel.AllRaces.Year')"
                    [items]="getItemsYear()">
            </isard-item-picklist>
            <isard-item-picklist
                    [label]="translateService.instant('Member.ParameterPanel.AllRaces.Quarter.Title')"
                    [items]="getItemsQuarter()">
            </isard-item-picklist>
            <isard-item-picklist
                    [label]="translateService.instant('Member.ParameterPanel.AllRaces.Event.Title')"
                    [items]="getItemsEventType()">
            </isard-item-picklist>
        </div>
    </ng-container>
</isard-box>
