<table class="table">
    <thead>
    <tr>
        @for (head of header; track head) {
            <th [ngClass]="{'text-centrer': head.isCenter}" scope="col">{{ head.value }}</th>
        }
    </tr>
    </thead>
    <tbody>
        @for (row of rows; track row) {
            <tr>
                @for (box of row; track box) {
                    @switch (box.type) {
                        @case (TableCellType.TEXT) {
                            <td [ngClass]="{
                                'positive': box.isPositive,
                                'negative': box.isNegative,
                                'text-centrer': box.isCenter
                            }">
                                {{ box.value }}
                            </td>
                        }
                        @case (TableCellType.DATE) {
                            <td [ngClass]="{
                                'positive': box.isPositive,
                                'negative': box.isNegative,
                                'text-centrer': box.isCenter
                            }">
                                {{ getValueAsDate(box.value) | localizedDate: box.dateFormat }}
                            </td>
                        }
                        @case (TableCellType.BUTTON) {
                            <td [ngClass]="{'text-centrer': box.isCenter}">
                                <button
                                        (click)="box.onClick" class="btn btn-secondary"
                                        type="button">
                                    {{ box.value }}
                                </button>
                            </td>
                        }
                        @case (TableCellType.ICON) {
                            <td [ngClass]="{'text-centrer': box.isCenter}">
                                <isard-icon
                                        [height]="30"
                                        [path]="box.value.toString()"
                                        [width]="30"
                                >
                                </isard-icon>
                            </td>
                        }
                    }
                }
            </tr>
        }
    </tbody>
</table>
